.commentWrapper {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--white);
}
@media (min-width: 768px) {
  .commentWrapper {
    gap: 24px;
    display: grid;
    padding: 24px;
    justify-items: center;
    grid-template-columns: 40px 1fr;
  }
  .commentWrapper > :first-child {
    top: 30px;
    position: relative;
  }
}

.top,
.info,
.username,
.bottom {
  display: flex;
  align-items: center;
}
.top,
.bottom {
  justify-content: space-between;
}
.info {
  gap: 16px;
}

.userImage,
.userImage img {
  width: 32px;
  height: 32px;
}

.username {
  gap: 9px;
}
.username span {
  width: 36px;
  height: 19px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
  color: var(--white);
  padding-inline: 6px;
  background-color: var(--primary-cl);
}

.contentTxt {
  line-height: 1.4;
  margin-block: 16px 18px;
}
.contentTxt strong {
  color: var(--primary-cl);
}

.controls {
  gap: 18px;
  align-items: center;
}
.controls:not([hidden]) {
  display: flex;
}
@media (min-width: 768px) {
  .controls {
    gap: 26px;
  }
}
