.iconButton {
  gap: 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-weight: var(--fw-bold);
}

.iconButton:not(.del) {
  color: var(--primary-cl);
}
.del {
  color: var(--soft-red);
}
