.iconButton {
  gap: 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  will-change: opacity;
  font-weight: var(--fw-bold);
}
.iconButton:focus-visible,
.iconButton:hover {
  opacity: 0.5;
}

.iconButton:not(.del) {
  color: var(--primary-cl);
}
.del {
  color: var(--soft-red);
}
