@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --soft-red: hsl(358, 79%, 66%);
  --pale-red: hsl(357, 100%, 86%);
  --moderate-blue: hsl(238, 40%, 52%);
  --light-grayish-blue: hsl(239, 57%, 85%);

  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --body-fs: 16px;
  --body-ff: "Rubik", sans-serif;
  --body-fs: var(--fw-regular);
  --body-cl: var(--grayish-blue);
  --body-bgc: var(--very-light-gray);

  --headings-fw: var(--fw-bold);
  --headings-cl: var(--dark-blue);

  --primary-cl: var(--moderate-blue);
}

/*
  Simple Reset
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

body {
  line-height: 1;
  color: var(--body-cl);
  font-size: var(--body-fs);
  font-family: var(--body-ff);
  font-weight: var(--body-fw);
  background-color: var(--body-bgc);
}
button {
  border: none;
  background: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3 {
  color: var(--headings-cl);
  font-weight: var(--headings-fw);
}
strong {
  font-weight: var(--fw-bold);
}

/*
  Global layout
*/

body {
  display: grid;
  min-height: 100vh;
  place-items: center;
  padding-block: 65px;
}
#root {
  max-width: 730px;
  margin-inline: auto;
}
@media (max-width: 767px) {
  body {
    padding-block: 32px;
    padding-inline: 16px;
  }
  #root {
    max-width: 343px;
  }
}

/*
  Utilities
*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
